/* layout */
:root {
  --header-height: 60px;
  --black: #202124;
}

html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

/* common */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  display: inline-block;
  cursor: pointer;
}

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */
.header {
  width: 100%;
  height: var(--header-height);
  padding: 6px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header a {
  display: inline-block;
  padding: 5px;
  color: var(--black);
  cursor: pointer;
  margin: 0 5px;
}

.header a:first-child {
  margin-left: 15px;
}

.header :where(.left, .right) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header a.menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a.menu:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.header a.menu > svg {
  width: 24px;
  height: 24px;
}

.header button {
  width: 96px;
  height: 36px;
  padding: 9px 23px;
  margin: 0 8px;
  background-color: #1a73e8;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.header button:hover {
  background: #1b66c9;
  box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}

/* main */

/* footer */
.footer {
  margin-top: auto;
  width: 100%;
  background-color: #f2f2f2;
}

.footer .top {
  font-size: 15px;
  color: #70757a;
  border-bottom: 1px solid #dadce0;
  padding: 15px 30px;
}

.footer .bottomNav {
  width: 100%;
  height: 46.5px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer .bottomNav a {
  color: #70757a;
  padding: 15px;
  cursor: pointer;
}
